<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="style.css">
        <!-- for docs on hover 
            https://github.com/IanLunn/Hover/blob/master/index.html 
            http://ianlunn.github.io/Hover/
        -->
        <link rel="stylesheet" type="text/css" href="hover.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <% if (viewName) { %><script src="scripts/partials/<%= viewName %>.js"></script> <% } %>
        <script src="scripts/static.js"></script>
        <script src="scripts/route.js"></script>
        <script src="scripts/index.js"></script>
        <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
        <link rel="icon" href="/favicon.ico"> 
        <link rel="icon" href="/favicon.ico" type="image/x-icon"> 
        <title>Node</title>
        <script>
            $(document).ready(function(){
                $('.wrapper').hide();
                $('.wrapper').fadeIn(1000);
            })
        </script>
        </head>
        <body>
            <nav class="navbar navbar-dark">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <img class="nav-logo" alt="Brand" width="50px" src="favicon.ico">
                    </div>
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a id="first" class="hvr-underline-from-left" onclick="route('first', '<%= base_hrefs %>')">First</a></li>
                            <li><a id="second" class="hvr-underline-from-left" onclick="route('second','<%= base_hrefs %>')">Second</a></li>
                            <li><a id="third" class="hvr-underline-from-left" onclick="route('third','<%= base_hrefs %>')">Third</a></li>
                        </ul>
                </div>
            </nav>
                <div class="container wrapper ">
<!-- remaining closing tags in footer -->