<% include ../../partials/header %>
<div class="container">
    <h1 class="hvr-reveal-show">Third</h1>
    <div class="row">
        <div class="col-sm-4">
            <h2>One</h2>
            <p>Here's a sentence about stupid shit</p>
        </div>
        <div class="col-sm-4">
                <h2>two</h2>
                <p>Here's a sentence about stupid shit</p>
        </div>
        <div class="col-sm-4">
                <h2>three</h2>
                <p>Here's a sentence about stupid shit</p>
        </div>
    </div>
</div>

<% include ../../partials/footer %>