<% include ../../partials/header %>
<link rel="icon" href="tarot.ico"> 

    <div class="hvr-grow">
        <h1 >Index Page</h1>
            <p>
                <i>A card game simulator for various card games and fortune telling. I have NO IDEA WHAT THIS WILL be. Lets see what I can make shall we?</i>
                <b><%= object.val %></b>
            </p>
    </div>
<% include ../../partials/footer %>
