<% include ../../partials/header %>
    <div >
        <h1 >Second Page Simulation<img src="favicon.ico" class="hvr-grow nav-logo" width="100px"></h1>
        <h2>Secondary Stuff</h2>
        <ul>
            <li onclick="threeCard();">One Fish</li>
            <li onclick="oneCard();">Two Fish</li>
            <li onclick="oneCard();">Red Fish</li>
            <li onclick="oneCard();">Blue Fish</li>
        </ul>
    </div>
<% include ../../partials/footer %>